
<mat-toolbar color="secondary">   
    <button  routerLink="/family-search" routerLinkActive="menu-active" *ngIf="!authInfo?.isLoggedIn()" >Kartoteka rodzinna</button> 
    <button mat-button  routerLinkActive="menu-active" *ngIf="!authInfo?.isLoggedIn()" >-&nbsp;&nbsp;&nbsp; informacje o:&nbsp;  {{(family$ | async)?.lname}}</button>
   
  </mat-toolbar><main class="l-main l-sample-app">
<div class="app-persons-list-container v-h-center-block-parent">

  <div class="nav-bar">
    
  </div>

  <app-persons-list *ngIf="persons" [persons]="persons"
                (person)="navigateToPerson($event)"></app-persons-list>
                <main class="l-main l-sample-app">
                <div class="main-container">
                    <div class="list"  style="text-align: center">                
  <div class="tools-bar">
      <button routerLink="/new" [queryParams]="{familyId: (family$ | async)?.$key }">
          Dodaj nową osobę
      </button>
  
    <button routerLink="/person-search2" [queryParams]="{familyId2: (family$ | async)?.$key }">
        Dodaj istniejącą osobę
    </button>
    
</div>
</div>
</div>
</main>


</div>