
<table class="persons-list card card-strong" item-width="200">
  <tr>
      <td class="lname" style="font-size: 10pt; font-weight: bold; width: 200px; border-style: none; text-align:left">
          Nazwisko</td>
    <td class="lname" style="font-size: 10pt; font-weight: bold; width: 200px; border-style: none; text-align:left">
        Imie</td>
        <td class="lname" style="font-size: 10pt; font-weight: bold; width: 200px; border-style: none; text-align:left">
            Drugie imie</td>
  </tr>
  <tr class="person-summary" *ngFor="let person of (persons$ | async)">
      <td class="lname" style="font-size: 10pt; width: 200px; border-style: none; text-align:left">
     
        {{person.lname}}
        
      </td>
      <td class="fname" style="font-size: 10pt; width: 200px; border-style: none; text-align:left">
          {{person.fname}}
      </td>
      <td class="sname" style="font-size: 10pt; width: 200px; border-style: none; text-align:left">
          {{person.sname}}
      </td>
      <td>
          <button >Edytuj</button>
      </td>
      
  </tr>
</table>

<router-outlet></router-outlet>