<div *ngIf="!isVisibleAP" calss="main">
<div  *ngIf="event$ | async as event">

        <table>
                <tr>
                    <td>{{event.date}}</td><td>&nbsp;&nbsp;</td><td>godzina: {{event.time}}</td>
                </tr>
            </table>
    <h2>{{event.description}}</h2>
</div></div>
<div  *ngIf="event$ | async as event">
<div *ngIf="!!isVisibleAP">
<h3 mat-dialog-title>W dniu: {{event.date}}&nbsp; o godzinie: {{event.time}}</h3>

<mat-dialog-content [formGroup]="form" calss="mat-dial">



<p>

    <mat-form-field style="width:100%">

        <textarea  matInput placeholder="Opis" style="width:100%"
            formControlName="description">

        </textarea>

    </mat-form-field>
</p>

</mat-dialog-content>


</div></div>
<mat-dialog-actions>

        <button class="mat-raised-button"
                (click)="close()">
            Zamknij
        </button>

        <button class="mat-raised-button "
                (click)="save()" [disabled]="!form.valid" *ngIf="!!isVisibleAP">
            Zapisz
        </button>
        <button class="mat-raised-button " (click)="edit(event)" *ngIf="!isVisibleAP">
    Edytuj
</button>
<button class="mat-raised-button " (click)="remove()" *ngIf="!isVisibleAP">
        Usuń
    </button>
</mat-dialog-actions>