
.mat-dialog-content {
    min-width: 300px;
    width: 100%;
}
.mat-form-field {
    
}

textarea {
    height: 100px;
    resize: horizontal;
    width: 400px;
}
.mat-dial {
    width: 100%;
    min-width: 350px;
}
.date .time{
    width: 25%;

}
.desc{
    width: 50%;
}
.main {
    min-width: 350px;
    max-width: 1800px;
    width: 600px;
}