
<table class="table app-families-list card card-strong">
        <tr >
            <td class="lp" style="font-size: 10pt; font-weight: bold; width: 50px; border-style: none; text-align:center">
                &nbsp; LP</td>
                <td class="lp"style="font-size: 10pt; font-weight: bold; width: 50px; border-style: none; text-align:center">
                   Nazwisko Rodowe
                </td> <td class="lp"style="font-size: 10pt; font-weight: bold; width: 50px; border-style: none; text-align:center">
                        Notatki
                     </td>
                    
               
            </tr>
    <tr  *ngFor="let family of families; let i = index"  [routerLink]="family.$key">
        <td  class="lname" style="font-size: 10pt; width: 50px; border-style: none; text-align:center">&nbsp;{{i+1}}.</td>
      <td class="lp"style="font-size: 10pt; font-weight: bold; width: 50px; border-style: none; text-align:center">
          {{family.lname}}
      </td>
      <td class="lp"style="font-size: 10pt; font-weight: bold; width: 50px; border-style: none; text-align:center">
            {{family.description}}
        </td>
     
  </tr>
</table>