      
<main class="l-main l-sample-app">

        <div>
    
            <div class="main-container">
                <div class="list">
                    

<form autocomplete="off" novalidate class="login-form" [formGroup]="form">

  <fieldset>
      <legend>Update password</legend>

      <div class="form-field">
          <label>email:</label>
          <input name="email" formControlName="email">
      </div>
      <div class="form-field">
          <label>Old Password:</label>
          <input name="oldpassword" formControlName="oldpassword" type="password">
      </div>
      <div class="form-field">
        <label>New Password:</label>
        <input name="newpassword" formControlName="newpassword" type="password">
    </div>
      <div class="form-field">
          <label>Confirm Password:</label>
          <input name="confirm" formControlName="confirm" type="password">
      </div>
  </fieldset>

  <button (click)="updatePassword()" [disabled]="!isPasswordMatch()">Update Password</button>

</form>
</div>

</div>

</div>

</main>