<div class="main">
<table class="table app-dialog-list card card-strong" *ngIf="!isVisibleAP">
        <tr>
            <td class="date" >Data</td><td class="time" >Godzina</td><td calss="desc" >Intencja</td>
        </tr>
        <tr *ngFor="let event of (events$ | async)" >
            <td style='width: 200px'>{{event.date}} </td><td style='width: 200px'>{{event.time}}</td><td style='width: 350px' >{{event.description}}</td>
    
        </tr>
    </table>
</div >
<div *ngIf="!!isVisibleAP" calss="main">
<h3 mat-dialog-title>{{description}}</h3>

<h2  [ngClass]="{ hollyday: hollyday}">Nowa intencja</h2>
<mat-dialog-content [formGroup]="form" calss="mat-dial">
        

        <mat-form-field>

                <input matInput type="date" class="date"
                        placeholder=""
                       formControlName="date">
        
                       <div  class="field-error-message" *ngIf="!form.controls.date.valid && 
                       (form.controls.date.touched || form.controls.date.dirty)" style="font-size: xx-small">pole obowiązkowe
                       </div>
            </mat-form-field>
    <mat-form-field>
       

        <mat-select placeholder="godzina" calss="time"
            formControlName="time">

            <mat-option value="9:00" *ngIf="hollyday">
                9:00</mat-option>
            <mat-option value="11:00" *ngIf="hollyday">
                11:00</mat-option>
     
                <mat-option value="18:00" *ngIf="!hollyday">
                    18:00</mat-option>

        </mat-select>

    </mat-form-field>

<p>

    <mat-form-field style="width:100%">

        <textarea matInput placeholder="Opis" 
            formControlName="description"  style="width:100%">
</textarea>
    

    </mat-form-field>
</p>

</mat-dialog-content>


</div>
<mat-dialog-actions>

        <button class="mat-raised-button"
                (click)="close()">
            Zamknij
        </button>
        <button class="mat-raised-button"
        (click)="isVisible()" *ngIf="!isOk&&!isVisibleAP" >
    Dodaj
</button>
        <button class="mat-raised-button mat-primary"
                (click)="save()" *ngIf="!!isVisibleAP" [disabled]="!form.valid">
            Zapisz
        </button>
    
    </mat-dialog-actions>