.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }
 input[type=text] {
  width: 80%;
  padding: 3px 5px;
  margin: 4px 0;
  text-align: center;
  box-sizing: border-box;
  border: 1;
  text-decoration: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}